<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864898302801-i8tv898jmn9d7vqsdubhb0qliv1u6ib5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864898302801-i8tv898jmn9d7vqsdubhb0qliv1u6ib5</string>
	<key>API_KEY</key>
	<string>AIzaSyC-kRSJLX4RONMZSSh_noFs8iyxOQqVglQ</string>
	<key>GCM_SENDER_ID</key>
	<string>864898302801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>expert-ditonton</string>
	<key>STORAGE_BUCKET</key>
	<string>expert-ditonton.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864898302801:ios:c73506f2cc564d8c79c970</string>
</dict>
</plist>